<nav class="bg-gray-800 p-4">
    <div class="container mx-auto flex justify-between items-center">
        <div class="flex items-center space-x-8">
            <a href="/"><p class="text-white font-bold text-xl">Express-brain</p></a>
            <a href="/jouer"><p class="text-gray-300 hover:text-white cursor-pointer transition">Jouer</p></a>
            <p class="text-gray-300 hover:text-white cursor-pointer transition">Classement</p>
            <p class="text-gray-300 hover:text-white cursor-pointer transition">Equipe</p>
        </div>
        <div class="flex items-center space-x-4">
            <a href="/connexion"><p class="text-gray-300 hover:text-white cursor-pointer transition">Connexion</p></a>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-300" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
            </svg>
        </div>
    </div>
</nav>