<nav class="bg-gray-800 p-4">
    <div class="container mx-auto flex justify-between items-center">
        <div class="flex items-center space-x-8">
            <a href="/"><p class="text-white font-bold text-xl">Express-brain</p></a>
            <a href="/jouer"><p class="text-gray-300 hover:text-white cursor-pointer transition">Jouer</p></a>
            <a href="/classement"><p class="text-gray-300 hover:text-white cursor-pointer transition">Classement</p></a>
            <a href="/equipe"><p class="text-gray-300 hover:text-white cursor-pointer transition">Equipe</p></a>
            <% if (user && user.admin === 'admin') { %>
                <a href="/admin/utilisateurs"><p class="text-gray-300 hover:text-white cursor-pointer transition">Utilisateurs</p></a>
            <% } %>
        </div>
        <div class="flex items-center space-x-4">
            <% if (user) { %>
                <span class="text-gray-300 mr-4"><%= user.name %></span>
                <a href="/deconnexion" class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Déconnexion</a>
            <% } else { %>
                <a href="/connexion" class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Connexion</a>
                <a href="/inscription" class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium ml-4">Inscription</a>
            <% } %>
        </div>
    </div>
</nav>